.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .card-in{
  margin: auto;
} */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  /* border: solid #cacaca; */
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  color: #0b69c1;
}

.fa-headset{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 5vmin;
  position: absolute;
  right: 0;
  top: 40%;
  background-color: #0d3b66;
  border-radius: 2vmin 0 0 2vmin;
  padding: 2vmin 4vmin;
  position: fixed;
  z-index: 5;
}
.fa-headset:hover{
  background-color: #558ec4;
  color: rgb(0, 0, 0);
}